<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="box-principal">
        <form method="POST" action="/info/formulario" >
            <div class="box-form">
                <label for="Nombre"> Nombre: </label>
                <input id="nombre" name="nombre" type="text">
            </div>
            <div class="box-form">
                <label for="locacion">Dojo Locación :</label>
                    <select name="locacion" id="locacion">
                        <option value="chile">Chile</option>
                        <option value="mexico">Mexico</option>
                        <option value="brazil">Brazil</option>
                    </select> <br> 
            </div>
            <div class="box-form">
                <label for="LenguajeFavorito">Lenguaje Favorito: </label>
                <select name="lenguaje" id="lenguaje">
                    <option value="php">PHP</option>
                    <option value="python">Python</option>
                    <option value="php">C#</option>
                </select>
            </div>    
            <div class="box-form">
                <label for="comentario">Comentario (opcional)</label><br>
                <textarea name="comentario" id="comentario" cols="40" rows="5"></textarea>
            </div>
        <button id="btn-formulario" type="submit">
            Enviar
        </button>
        </form>
    </div>
</body>
</html>